/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size: 14px;
    font-family: 'Courier', monospace;
    list-style-type: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#tabs {
    padding: 8px;
    display: inline;
}

#tabs li {
    list-style-type: none;
    display: inline;
}

#tabs a { 
    background-color: rgba(0,0,0,0.5);
    padding: 2px;
}

.container {
    background-color: rgba(0,0,0,0.33);
    display: none;
}

.container.visible {
    display:block;
}

.hud {
    margin: 0;
    padding: 8px;
}

li {
    white-space: pre;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

.problem {
    color: red;
}