bin/
obj/
*.js
*.js.map
*.suo
*.user
uninst.json
node_modules/
.idea/
.tscache/
!GruntFile.js
!/vendor/*.js
UI.csproj.user
// vv-- Mehuge UI stuff below 
announcer/*.ogg
!/mehuge-bct/bct.js
!/mehuge-bot/example.js
!/mehuge-bot/healbot.js
!/mehuge-bot/uiu.js
!/mehuge-heatmap/heatmap.min.js
!/mehuge-pledges/pledges.js
!/mehuge-web/*.js
!/mehuge-chat/chat-config*.js
!/mehuge-combatlog/combatlog.js
!/mehuge/basic-promise.js
images/blockselector/block-icon-*.png
