body { 
  margin: 0;
  overflow: hidden;
} 
.msg { 
  text-align: center; 
  font-weight: bold; 
  position: absolute;
  width: 100px;
  opacity: 0.8;
}
#sh {
	color: rgb(0,255,0);
	font-size: 12pt; 
	left: 50px;
	bottom: 0px;
}
#sd {
	color: white;
	font-size: 16pt; 
	left: 0px;
}
#td {
	color: red;
	font-size: 18pt; 
	right: 0px;
}
#al {
    color: rgb(255, 216, 0);
    font-size: 16pt;
    width: 200px;
}
