progress {
    position: absolute;
    width: 100%;
    color: green; 
    -webkit-appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: rgba(0,0,0,0.5); 
}

#spellname {
    position: absolute;
    color: white;
    width: 100%;
    overflow: hidden;
}

body { overflow: hidden; }