body {
    margin: 0; padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#chat>#history {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 26px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.4);
    overflow-wrap: break-word;
    border-top: 1px solid rgba(255,255,255,0.1);
    border: 0px 1px;
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
}

::-webkit-scrollbar              { background-color: transparent; }
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  { border-left: 1px solid rgba(255,255,255,0.06); }
::-webkit-scrollbar-thumb        { background-color: rgba(128,128,128,0.4); }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

#chat>#box {
    position: absolute;
    bottom: 0;
    height: 26px;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
}
#chat>#box tr>td:nth-child(1) {
    width: 4em;                   /* includes history view margin amount */
    white-space: nowrap;
    background-color: rgba(0,255,0,0.07);
    -webkit-user-select: none;
    user-select: none;
    text-align: right;
    padding: 0 0.5em;
    cursor: pointer;
}

#chat>#box tr>td:nth-child(2) {
    padding-left: 0.5em;
}

#chat > #box tr > td:nth-child(2).command-mode {
    background-color: rgba(255,231,0,0.2);
}
#chat > #box tr > td:nth-child(2).chat-mode {
    background-color: rgba(0,0,0,0.1);
}


#chat>#box td>input { 
    border: 0; 
    height: 1.5em;
    background-color: transparent; 
    width: 100%; 
    outline: none;
    color: white;
}
#chat>#history .entry {
    padding-left: 0.5em;
    padding-right: 0.5em;
    word-wrap: break-word;
    white-space: pre;
}
#chat>#history .room {
    min-width: 4em;
    margin-right: 0.5em;
    display: inline-block;
    text-align: right;
    opacity: 0.8;
    color: white;
}
#chat > #history img.cse {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 0.2em;
}
#chat>#history .account { 
    margin-right: 0.5em;
    display: inline-block;
    opacity: 0.8;
    color: white;
}
#chat>#history .message { 
    opacity: 0.9;
    color: white;
}

/* TODO: Move into a config */
._ch__global { 
    color: #CC0000; 
}
._ch__cube { 
    color: #06DCFB; 
}
._ch__it { 
    color: #48FB0D; 
}
._ch_uidev { 
    color: #CC0099; 
}
._ch__combat, ._ch__combat .message {
    color: #FFCC33!important;
}
._ch_IM, ._ch_IM .message {
    color: #99FF66!important;
}

._ch_announce, ._ch_announce .message {
    color: #FFFF00!important;
}

._ch_MOTD, ._ch_MOTD .message {
    color: #00FF00!important;
}

._ch_tty, ._ch_tty .message {
    color: #808080!important;
}
._ch_tty .message { 
    font-family: monospace;
}

._ch_tty .room,
._ch__combat .room,
._ch_system .room,
._ch_console .room { display: none!important; }

/* faction colors */
._ch_tdd  {
    color: green;
}
._ch_arthurian  {
    color: red;
}
._ch_viking {
    color: blue;
}
