body {
    background-color: rgba(0,0,0,0.5);
    margin: 1em;
    font-family: 'Cinzel', serif;
    font-size: 9pt;
}
#tweaks > div {
    height: 1.6em;
}
#close {
    position: absolute;
    right: 0; top: 0;
    font-size: 2em; 
    color: white;
    cursor: pointer;
}
#tweaks > div > span {
    position: absolute;
    left: 15em;
    color: white;
    line-height: 2em;
    display: inline-block;
}
#tweaks > div > input {
    height: 1em;
    margin-right: 1em;
    vertical-align: middle;
}
#tweaks > div > input[type=checkbox] {
    margin-left: 9em;
}
#tweaks > div > input[type=button] {
    margin-left: 6em;
    padding: 0;
    height: 1.6em;
}